<!-- html to display all posts -->
<div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-6">What's Going on in the Tech World</h1>  
        </div>
        {{#each projects as |project| }}
        <div class="card">
            <div class="card-header">
                <a href="/project/{{post.id}}">{{post.title}}</a>
            </div>
            <div class="card-body">
             <p>
              {{post.content}}   
             </p> 
            </div>
          </div>
        </div>
      </div>
      {{/each}}