<!-- html forms for login or register new user -->
<div class="row">
  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5>LOGIN</h5>
      </div>
      <div class="card-body">
        <form class="form login-form">
          <div class="form-group">
            <label for="email-login"></label>
            <input
              class="form-input"
              type="text"
              id="email-login"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="password-login"></label>
            <input
              class="form-input"
              type="password"
              id="password-login"
              placeholder="Password"
            />
          </div>

          <div class="form-group">
            <button class="btn btn-sm btn-primary" type="submit">
              login
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="card" style="width: 18rem;">
      <div class="card-header">
        <h5>Register</h5>
      </div>
      <div class="card-body">
        <form class="form signup-form">
          <div class="form-group">
            <label for="name-signup"></label>
            <input
              class="form-input"
              type="text"
              id="name-signup"
              placeholder="Username"
            />
          </div>
          <div class="form-group">
            <label for="email-signup"></label>
            <input
              class="form-input"
              type="text"
              id="email-signup"
              placeholder="Email"
            />
          </div>
          <div class="form-group">
            <label for="password-signup"></label>
            <input
              class="form-input"
              type="password"
              id="password-signup"
              placeholder="Password"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-sm btn-primary" type="submit">
              signup
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="../public/css/js/login.js"></script>